*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;    
    /* Se muestra un color de fondo mientras se está cargando la imagen
    de fondo o si hay problemas para cargarla */
    background-color: rgba(48, 48, 241, 0.6);
    height: auto;
    background-image: linear-gradient(267deg, #a95cac 0%, #e0443e 100%);

}
span{
    top: -22px;
    position: relative;
}
form{
    width: 80%;
    margin: auto;
    background-color: rgba(155, 94, 94, 0.4);
    padding: 10px 20px;
    /*colocando esto hace que tome los 40px del padding en los 450px de ancho*/
    box-sizing: border-box;
    border-radius: 4px;
    top: 65px;
    position: relative;
}
form:hover{
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}
textarea{
    /*LIMITAR EL ANCHO Y ALTO DEL COMENTARIO*/
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}
#boton{
    background-color: royalblue;
    padding: 20px;
    color: #fff;
    border-color: rgb(73, 63, 211);
}
#boton:hover{
    background-color: rgba(65, 105, 255, .4);
    cursor: pointer;
}

@media (min-width: 768px){
    form{
        width: 400px;
    }
}